<header role="banner">
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to "Craving", root_path, class: "navbar-brand" %>
      </div>

      <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <%= link_to "Market Place", products_path %>
            <span class="sr-only">(current)</span>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li>
            <%= link_to "#" do %>
              Shopping Cart (0)
            <% end %>
          </li>

          <% if current_user %>

            <li class="active">
              <button type="button" class="btn btn-default navbar-btn">
                <%= link_to "New Product", new_admin_product_path %>
              </button>
            </li>

            <div class="navbar-right">
              <div class="navbar-text navbar-whom">
                <li class="dropdown">
                  <li class="dropdown-toggle" data-toggle="dropdown">
                    <%= current_user.email %>
                    <b class="caret"></b>
                  </li>
                  <ul class="dropdown-menu">
                    <% if current_user.admin? %>
                    <li>
                      <%= link_to("Admin Setting", admin_products_path ) %>
                    </li>
                    <% end %>
                    <li>
                      <%= link_to("Sign Out", destroy_user_session_path, method: :delete ) %>
                    </li>
                  </ul>
                </li>
              </div>
            </div>

          <% else %>

            <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <li><%= link_to "Log In", new_user_session_path %></li>

          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>
